In [4]:
import pandas as pd

In [5]:
survey = pd.read_csv('./survey.csv')

In [6]:
survey

    age             job  mbti  gender  work   edu  free_time  health  chores
0    27      job_seeker  INTJ       0  0.25  0.75       1.00    1.00    0.50
1    28      job_seeker  INTJ       0  1.00  0.50       0.25    0.00    0.75
2    28          senior  ESFP       1  0.75  0.50       1.00    0.25    0.00
3    23          senior  INTP       0  0.50  0.50       0.50    0.50    0.50
4    27      job_seeker  ISTP       0  0.75  0.75       0.50    1.00    0.50
5    29      job_seeker  ESTP       0  1.00  0.50       0.75    0.50    0.00
6    29          senior  INTP       0  0.50  1.00       1.00    1.00    0.50
7    27      job_seeker  INTP       0  0.75  0.75       0.50    0.50    0.50
8    22          senior  ISTP       1  1.00  0.75       0.75    0.75    0.50
9    27      job_seeker  ENTP       0  1.00  0.75       1.00    1.00    0.50
10   28      job_seeker  ESTP       1  1.00  0.50       0.75    1.00    0.50
11   22          senior  ENTP       1  0.50  1.00       0.25    0.75    0.00
12   22          senior  INTJ       1  0.75  0.75       1.00    0.75    0.50
13   24          senior  INFJ       1  0.50  0.50       0.50    0.75    0.75
14   28      job_seeker  ISTP       0  0.75  0.75       1.00    1.00    0.50
15   34      job_seeker  ENFJ       0  1.00  1.00       1.00    1.00    1.00
16   12  school_student  ENTP       1  1.00  1.00       1.00    0.75    0.50
17   28      job_seeker  ESFP       1  1.00  1.00       0.75    1.00    0.75
18   29          senior  ISFP       0  0.50  0.75       1.00    1.00    0.25
19   23          senior  ENFP       1  0.75  0.75       1.00    1.00    0.75
20   24      job_seeker  ISTP       1  0.75  0.75       0.75    0.75    0.75
21   22          senior  ENFP       1  0.75  0.50       0.75    1.00    0.50
22   23          senior  INTP       1  0.75  0.50       0.75    0.75    0.25
23   29          worker  ISTP       0  0.75  0.50       1.00    1.00    0.50
24   26          worker  ENFJ       0  1.00  0.75       1.00    1.00    0.75
25   27      job_seeker  INFJ       0  1.00  1.00       0.50    0.75    1.00